<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="ua.goit.model.Project"/>
        <mapping class="ua.goit.model.Category"/>
        <mapping class="ua.goit.model.User"/>
        <mapping class="ua.goit.model.AuthorBlog"/>
        <mapping class="ua.goit.model.Comment"/>
    </session-factory>
</hibernate-configuration>

